<!doctype html>

<html>
<head>
	<title>Study Booster</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<link href="/css/main.css" rel="stylesheet">
	<!-- this is a comment in HTML -->

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
</head>

<body>
	<div id="box">
		<div id="footer">
	<div class="container">
		<div class="jumbotron">
			<h1>Friends</h1>
		</div>

        <div class="friend" id="name" >
            <div id="rank">
				<p>#1</p>
			</div>
			<a href="/view_friend" class="thumbnail">
				<p>Mark A.</p>
			</a>

			<div id="focus">
				<p>Focus: 100 Minutes</p>
			</div>
		</div>
        <div class="friend" id="name" >
            <div id="rank">
				<p>#2</p>
			</div>
			<a class="thumbnail">
				<p>You</p>
			</a>

			<div id="focus">
				<p>Focus: 80 Minutes</p>
			</div>
		</div>
        <div class="friend" id="name" >
            <div id="rank">
				<p>#3</p>
			</div>
			<a href="/view_friend" class="thumbnail">
				<p>Jonny A.</p>
			</a>

			<div id="focus">
				<p>Focus: 50 Minutes</p>
			</div>
		</div>
        <div class="friend" id="name" >
            <div id="rank">
				<p>#4</p>
			</div>
			<a href="/view_friend" class="thumbnail">
				<p>Max Orfield</p>
			</a>

			<div id="focus">
				<p>Focus: 10 Minutes</p>
			</div>
		</div>
        <div id="container">
            <a href="/">
		    <button type="button home-button" id="button1" >My Focus</button>
            </a>
			<a href="/friends">
			<button type="button contact-button" id="button2">Friends</button>
			</a>
		</div>
	</div>
	</div>
	</div>
	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="/js/bootstrap.min.js"></script>
</body>
</html>
