<!doctype html>

<html>
<head>
	<title>Study Booster</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<link href="/css/introHCI.css" rel="stylesheet">

</head>

<body>
	<h1>View Task page coming soon!</h1>
</body>
</html>
